.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 40px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #000;
  margin: 20px 0;
}
